/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  background-color: black;
  height: 100px;
  padding-left: 25px;
}

header img {
  width: 135px;
  margin-top: 25px;
}

section {
  height: 48vh;
  text-align: center;
  vertical-align: middle;
  background-image: url(./Assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px;
}

section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #25a2c3;
  padding-top: 30px;
}

section p {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 20px;
  padding-bottom: 35px;
}

section button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  height: 42px;
  width: 130px;
  color: #ffffff;
  cursor: pointer;
}

main {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 35px;
}

.contenitore {
  width: 100%;
  min-height: 600px;
  padding-left: 50px;
}

.halfmain {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

h5 {
  color: #25a2c3;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 5px;
}

main p {
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
  font-size: 1.2rem;
  line-height: 1.5;
}

.notebook img {
  border-radius: 50%;
  height: 360px;
  margin-block: 80px;
}

.sezarancio {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #ee2201;
  height: 260px;
  color: #ffffff;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 45px;
  margin-bottom: 30px;
}

.sezarancio p {
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
  font-size: 1rem;
  line-height: 1.5;
}

.italic {
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: italic;
}

.menostaccato {
  margin-bottom: -14px;
}

.piupiccolo p {
  font-size: 0.7rem;
}

.remainingmain {
  width: 100%;
}

.blocco {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 29%;
  border: 0.1px solid rgb(224, 221, 221);
  border-radius: 10px;
  margin-bottom: 30px;
  height: 365px;
  margin-left: 20px;
  margin-right: 20px;
}

.blocco img {
  width: 100%;
  margin-bottom: 10px;
}

footer {
  height: 265px;
  text-align: center;
  background-color: #25a2c3;
  color: #ffffff;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 30px;
  margin-bottom: 20px;
}

.footerup a,
.footerup p {
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 20px;
  padding-bottom: 5px;
  color: #ffffff;
}

.bordino {
  background-color: #ffffff;
  display: inline-block;
  margin-inline: auto;
  height: 0.5px;
  width: 280px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.footerdown a,
.footerdown p {
  font-family: "Open Sans", sans-serif;
  font-weight: 350;
  font-size: 1rem;
  padding: 20px;
  padding-bottom: 15px;
  color: #ffffff;
}

.footerup p,
.footerdown a {
  margin: -20px;
}

.footerup a {
  margin-left: -20px;
}

.footerup p {
  display: inline;
  text-align: left;
}
